:root {
  /* Primary Colors */
  --primary: #1a308f;
  --primary-light: #586ba4;
  --primary-dark: #112e46;
  --primary-green: #3bd6b2;
  --accent: #0080fa;
  --accent-dark: #0039d6;
  --navy: #005674;
  --main-blue: #274bad;
  --main-light: #2a54c7;

  /* Neutral */
  --dark: #1e1f21;
  --dark-gray-50: #4b4b4d;
  --dark-gray-75: #787879;
  --dark-gray-100: #a5a5a6;
  --light-gray: #d2d2d2;
  --light-gray-50: #e8e8e8;
  --off-white: #f3f3f3;
  --background: #f7f8f9;

  /* Status */
  --error: #c33434;
  --error-light: #fa4c4c;
  --success: #24b57a;
  --success-light: #00aaaf;
  --success-dark: #3daa7e;
  --warning: #e5a461;
  --warning-light: #fbb56c;
}

/* defaults */
body {
  font-family: 'rustica', sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: var(--dark-gray-50);
  font-weight: normal;
  overflow-x: hidden;
}

p {
  color: var(--dark);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: bold;
  color: var(--dark);
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

/* sub header */
.sub-header {
  font-family: 'roc-grotesk', sans-serif;
  color: var(--dark-gray-75);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

/* small subheader */
.sub-header--small {
  font-family: 'roc-grotesk', sans-serif;
  color: var(--dark-gray-75);
  font-weight: 500;
  letter-spacing: 0.96px;
  font-size: 12px;
  text-transform: uppercase;
}

.title {
  font-family: 'roc-grotesk', sans-serif;
  color: var(--dark);
  font-weight: bold;
  font-size: 40px;
}

.big-title {
  font-family: 'roc-grotesk', sans-serif;
  color: var(--dark);
  font-weight: bold;
  font-size: 64px;
}

.label-text {
  font-size: 12px;
  color: var(--dark-gray-50);
  text-transform: capitalize;
}

.text {
  font-size: 16px;
}

.text-mid {
  font-size: 18px;
}

.text-big {
  font-size: 20px;
}

.text-small {
  font-size: 14px;
}

.text-x-small {
  font-size: 12px;
}

.text-xx-small {
  font-size: 10px;
}

.text-primary {
  color: var(--main-blue);
}

.text-primary-light {
  color: var(--main-light);
}

/* utilities */
.bg-main {
  background-color: var(--background);
}

.account-tag {
  background: var(--main-light) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font-size: 12px;
  padding: 6px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;

  @media (max-width: 1020px) {
    padding: 4px 6px;
  }
}

.card-title {
  padding: 5px 8px;
  background-color: #e4e7ea;
  color: var(--dark);
  text-transform: uppercase;
  width: max-content;
}

/* Table Style */
table {
  width: 100%;
  overflow: hidden;
}

th {
  height: 55px;
  background: #f7f8f9;
  opacity: 1;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  text-align: left;
  letter-spacing: 1px;
}

td {
  font-weight: 500;
  color: #4a4a4a;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-left: 8px;
}

tr:hover {
  background-color: #f3f3f3;
}

tr {
  border-bottom: 1px solid #e8e2e8;
}

/* buttons */
.button {
  border-radius: 14px;
  color: #fff;
  font-weight: 500;
  padding: 14px 16px;
  line-height: 1.2;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  background-color: var(--main-blue);
}

.button.alternate {
  background-color: #e9ecf7;
  border-radius: 10px;
  color: var(--main-blue);
  padding: 8px 12px;
}

.button-small {
  border-radius: 10px;
  font-size: 13px;
  padding: 8px 14px;
}

.button-medium {
  font-size: 14px;
  padding: 14px 16px;
}

.button-large {
  font-size: 14px;
  padding: 18px 32px;
}

.button-xs {
  font-size: 13px;
  padding: 8px 14px;
}

.demo-image-wrapper {
  /* margin-left: auto; */
  margin-right: auto;
  width: 178px;
  height: 189px;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  border-radius: 24px;
  position: relative;
}

/* modal layout */
.modal-container {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow-y: auto;
}

.modal-container.dark {
  background: #00000065;
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
}

.modal-left {
  width: 75%;
  background: rgba(250, 250, 250, 1);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 42px 39px;
  overflow-y: auto;
}

.modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Vue tel input */
.vue-tel-input {
  border: 1px solid transparent !important;
}

.vti__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 10px !important;
  cursor: pointer;
  border: 2px solid #e7e7eb !important;
  border-radius: 14px !important;
}

.vti__input {
  border: 2px solid #e7e7eb !important;
  border-radius: 14px !important;
  width: 100%;
  outline: none;
  margin-left: 12px !important;
  padding-left: 12px !important;
}

.vue-tel-input:focus-within {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
