:root {
  /* Primary Colors */
  --primary: #1a308f;
  --primary-light: #586ba4;
  --primary-dark: #112e46;
  --primary-green: #3bd6b2;
  --accent: #0080fa;
  --accent-dark: #0039d6;
  --navy: #005674;
  --main-blue: #274bad;
  --main-light: #2a54c7;

  /* Neutral */
  --dark: #1e1f21;
  --dark-gray-50: #4b4b4d;
  --dark-gray-75: #787879;
  --dark-gray-100: #a5a5a6;
  --light-gray: #d2d2d2;
  --light-gray-50: #e8e8e8;
  --off-white: #f3f3f3;
  --background: #f7f8f9;

  /* Status */
  --error: #c33434;
  --error-light: #fa4c4c;
  --success: #24b57a;
  --success-light: #00aaaf;
  --success-dark: #3daa7e;
  --warning: #e5a461;
  --warning-light: #fbb56c;

  /* Font weights */
  --rustica-semi-light: 400;
  --rustica-regular: 500;
  --rustica-medium: 600;
  --rustica-bold: 700;
  --roc-grotesk-medium: 500;
  --roc-grotesk-bold: 600;
}

/* defaults */
body {
  font-family: 'rustica', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--dark-gray-50);
  font-weight: var(--rustica-semi-light) !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-bold) !important;
  color: var(--dark);
}

h1 {
  font-size: 32px !important;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 18px !important;
}
h4 {
  font-size: 16px !important;
}
h5 {
  font-size: 14px !important;
}
h6 {
  font-size: 12px !important;
}

/* sub header */
.sub-header {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-medium) !important;
  font-size: 14px;
  letter-spacing: 1.12px;
  color: var(--dark);
}

/* small subheader */
.sub-header-small {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-medium) !important;
  letter-spacing: 0.96px;
  font-size: 12px;
  color: var(--dark);
}
.sub-header-x-small {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-medium) !important;
  letter-spacing: 0.96px;
  color: var(--dark);
  font-size: 10px;
}

.title {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-bold) !important;
  font-size: 40px;
  color: var(--dark);
}

.big-title {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-bold) !important;
  font-size: 64px;
  color: var(--dark);
}

/* Font sizes */
.big-paragraph {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
  font-size: 20px;
}
.mid-paragraph {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
  font-size: 18px;
}
.small-paragraph {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
  font-size: 14px;
}
.x-small-paragraph {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
  font-size: 12px;
}
.xx-small-paragraph {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
  font-size: 10px;
}

/* Font weights */
.roc-grotesk-medium {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-medium) !important;
}
.roc-grotesk-bold {
  font-family: 'roc-grotesk', sans-serif;
  font-weight: var(--roc-grotesk-bold) !important;
}
.rustica-semi-light {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-semi-light) !important;
}
.rustica-regular {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-regular) !important;
}
.rustica-medium {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-medium) !important;
}
.rustica-bold {
  font-family: 'rustica', sans-serif;
  font-weight: var(--rustica-bold) !important;
}

/* utilities */
.card-title {
  padding: 5px 8px;
  background-color: #e4e7ea;
  color: var(--dark);
  text-transform: uppercase;
  width: max-content;
}

/* modal layout */
.modal-container {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow-y: auto;
}

.modal-container.dark {
  background: #00000065;
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
}

.modal-left {
  width: 65%;
  background: rgba(250, 250, 250, 1);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 42px 39px;
  overflow-y: auto;

  @media (max-width:768px) {
    width: 100%;
    top: 20%;
    border-radius: 24px 24px 0px 0px;
    padding: 42px 20px;
  }
}

.modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Vue tel input */
.vue-tel-input {
  border: 1px solid transparent !important;
}

.vti__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 10px !important;
  cursor: pointer;
  border: 2px solid #e7e7eb !important;
  border-radius: 14px !important;
}

.vti__input {
  border: 2px solid #e7e7eb !important;
  border-radius: 14px !important;
  width: 100%;
  outline: none;
  margin-left: 12px !important;
  padding-left: 12px !important;
}

.vue-tel-input:focus-within {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: none !important;
}


/* InPuts */
.dumo-input-label {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.default-input-label {
  font-size: 12px;
  letter-spacing: 0px;
  color: #4b4b4d;
}

.dumo-select-field,
.dumo-input-field {
  color: rgba(44, 62, 80, 0.75);
  border-width: 0;
  z-index: 1;
}

.dumo-select-field {
  appearance: none;
}

.dumo-text-area {
  height: 100px;

  @media (max-width: 768px) {
    height: 135px;
  }
}

.dumo-select-field,
.dumo-input-field:focus {
  outline: 0;
  box-shadow: 0;
}

.dumo-input-field::placeholder {
  /* color: transparent; */
  color: #b5b5b5;
  opacity: 0.35;
  font-size: 16px;
}

/* Make the label and field look identical on every browser */
.dumo-input-label,
.dumo-select-field,
.dumo-input-field {
  font-size: 16px;
  line-height: 1.2;
  display: block;
  width: 100%;
  color: #1e1f21;
}

.dumo-input-field,
.dumo-select-field,
.dumo-input-wrapper {
  position: relative;
  width: 100%;
}

.dumo-select-field,
.dumo-input-field {
  border-radius: 14px;
  padding: 14px 12px;
  transition: border-color 0.25s ease-in-out;
  border: 2px solid #e7eaf4;
  background-color: transparent;
}

.dumo-select-field + .dumo-input-label,
.dumo-input-field + .dumo-input-label {
  position: absolute;
  top: 14px;
  left: 14px;
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  color: #b5b5b5;
  transition: transform 0.25s, opacity 0.25s, padding 0.25s ease-in-out;
}

/* .dumo-input-field:focus + .dumo-input-label,
.dumo-input-field:not(:placeholder-shown) + .dumo-input-label, */
.dumo-input-field:focus + .dumo-input-label,
.dumo-select-field:not([data-value='']) + .dumo-input-label {
  z-index: 1;
  padding: 0 1px;
  transform: translate(-3px, -23px) scale(0.8);
  color: #1e1f21;
  background-color: white;
}

.dumo-select-field:focus,
.dumo-input-field:focus {
  border-color: #2a54c7;
}

.dumo-input-field:focus + .dumo-input-label,
.dumo-select-field:focus + .dumo-input-label {
  color: #1e1f21;
}

.dumo-input-field.error,
.dumo-select-field.error {
  border-color: #c33434 !important;
  /* color: #c33434 !important; */
}

.dumo-input-field.error + .dumo-input-label,
.dumo-select-field.error + .dumo-input-label {
  color: #c33434 !important;
}

.dumo-input-field.success,
.dumo-select-field.success {
  border-color: #3daa7e !important;
  /* color: #3daa7e !important; */
}

.dumo-input-field.success + .dumo-input-label,
.dumo-select-field.success + .dumo-input-label {
  color: #3daa7e !important;
}

.dumo-input-field:-webkit-autofill,
.dumo-input-field:-webkit-autofill:hover,
.dumo-input-field:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.dumo-input-field[disabled] {
  background: #eee;
  opacity: 0.5;
}

.dumo-input-field[disabled].success {
  background: #f2faf7;
  opacity: 1;
}

.prepend {
  position: absolute;
  left: 8px;
  top: -21px;
  margin: 12px 10px;
  font-size: 12px;
  z-index: 1;
  color: #1e1f21;
  padding: 0 1px;
  background-color: #ffffff;
}

.prepend.success {
  color: #3daa7e;
}
